body{
    background-color: rgb(153, 233, 240);
    margin: 0px;
}
.header{
    height: 100px;
    width: 100%;
    text-align: center;
    background-color: rgb(51, 176, 210);
    color: white;
    margin: 0px;
    display: inline-block;
    position: fixed;
}
.header img{
    display: inline-block;
    height: auto;
    width: 10%;
    margin-top: 20px;
}
.search{
    width: 33%;
    display: inline-block;
}
.search h1{
    height: auto;
    margin: 0px;
    width: 100%;
    display: block;
}
.search p{
   display: inline-block;
   margin: 0px;
   font-size: x-large;
   font-style: italic;
}
.search input{
    display: inline-block
}
.sidebar{
    width: 33%;
    height: auto;
    top: 100px;
    text-align: center;
    background-color: white;
    position: fixed;
    background-color: rgb(73, 146, 242);
}
.sidebar img{
    width: 40%;
    height: auto;
    display: block;
    margin-top: 5px;
}
.sidebar p{
    font-size: x-large;
}