body{
    background-color: rgb(153, 233, 240);
    margin: 0px;
}
.header{
    height: 100px;
    width: 100%;
    text-align: center;
    background-color: rgb(20, 81, 211);
    color: white;
    margin: 0px;
}
.search{
    display: inline-block;
    margin: 0px;
}
