body{
    background-color: rgb(153, 233, 240);
    margin: 0px;
}
.header{
    height: 100px;
    width: 100%;
    text-align: center;
    background-color: rgb(51, 176, 210);
    color: white;
    margin: 0px;
    display: inline-block;
    position: fixed;
}
.header img{
    display: inline-block;
    height: auto;
    width: 10%;
    margin-top: 20px;
}
.search{
    width: 33%;
    display: inline-block;
}
.search h1{
    height: auto;
    margin: 0px;
    width: 100%;
    display: block;
    font-size: 3vw;
}
.search p{
   display: inline-block;
   margin: 0px;
   font-size: x-large;
   font-style: italic;
}
.search input{
    display: inline-block
}
.sidebar{
    width: 30%;
    height: auto;
    top: 100px;
    text-align: center;
    background-color: rgb(73, 146, 242);
    display: table;
    position: fixed;
    padding-bottom: 10px;
}
.sidebar p{
    font-size: 1.2vw;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.pictures{
    width: 45%;
    float: left;
    margin: 0px;
}
.pictures img{
    width: 90%;
    height: auto;
    display: block;
    margin-top: 10px;
    margin-left: 2%;
}
.text{
    width: 55%;
    float: left;
    margin: 0px;
}
.text h6{
    text-decoration: underline;
    margin-top: 20px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    display: block;
    font-size: 1.6vw;
    text-align: left;
}
.text p{
    margin-block-start: 0px;
    margin-block-end: 0px;
    display: block;
    font-size: 1.2vw;
    text-align: left;
}
.content{
    width: 70%;
    padding-top: 100px;
    height: 2000px;
    background-color: rgb(153, 233, 240);
    float: right;
}
.charity{
    background-color: white;
    display: block;
    position: fixed;
    height: 15%;
    bottom: 0px;
    right: 0px;
    width: 70%;
}
.charity img{
    height: 80%;
    width: auto;
}
.message{
    float: left;
    margin-top: 10px;
    width: 80%;
}
.link{
    float: left;
    margin-top: 10px;
}
